

<header>Start where you are. Use what you have. Do what you can</header>

<h3> Done <mat-icon style='align-items: center;justify-items: center;'>done_all</mat-icon></h3> <!-- add mat - icom here/ -->
  
<div class='list-container' cdkDropListGroup>
 <div *ngFor = 'let list of lists' >
  
  
   <app-list class='card-container' [Name]='list' (deleteList)='removeList($event)'></app-list>

   

 </div>
 <button mat-icon (click)='addList()' class='button-class'><mat-icon>note_add</mat-icon></button>
 <!-- <div class='button-class'  (click)='addList()'>Add New List Here . . .</div> -->
</div>




